name: Run hello world from python
on: push

jobs:
  hello:
    runs-on: ubuntu-latest

    steps:
    - name: clone repo
      uses: action/checkout@v3

    - name: setup python
      uses: actions/setup-python@v6
      with:
        python-version: '3.13' 

    - name: Run a python scripy
      run: python hello.py